.DS_Store
*.pyc
IBMEventStreams_GettingStarted/target/
labs/mq-sink-lab/kafka-connect-mq-sink/
labs/mq-sink-lab/cp4i/mq-sink.json 
labs/kconnectors/lib/*.jar
test-tools/perf-producer-app/target/
IBMEventStreams_GettingStarted/src/main/liberty/config/server.env
IBMEventStreams_GettingStarted/src/main/liberty/config/resources/security/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class