[Desktop Entry]
Name=Check for DB2 Updates
Type=Application
Exec=/opt/ibm/db2/V11.5/bin/db2desktop db2updserv
URL=
Icon=/database/config/db2inst1/.local/share/icons/db2updserv.xpm
Version=1.0
Terminal=false
NoDisplay=false
Hidden=false
MimeType=
Categories=DB2;
StartupNotify=false
ReadOnly=false
Name[el_GR]=Check for DB2 Updates
Name[it_IT]=Verifica aggiornamenti DB2
Name[es_ES]=Comprobar si hay actualizaciones de DB2
Name[sv_SE]=Sök efter DB2-uppdateringar
Name[cs_CZ]=Zjišťovat aktualizace produktu DB2
Name[nl_NL]=DB2-updates zoeken
Name[sk_SK]=Skontrolujte aktualizácie DB2
Name[hr_HR]=Provjera DB2 ažuriranja
Name[zh_TW]=檢查 DB2 更新
Name[tr_TR]=DB2 güncellemesi olup olmadığını denetle
Name[fi_FI]=DB2-päivitysten tarkistus
Name[no_NO]=Søk etter DB2-oppdateringer
Name[en_US]=Check for DB2 Updates
Name[sl_SI]=Preveri za posodobitve DB2
Name[pt_BR]=Verificar Atualizações do DB2
Name[hu_HU]=DB2 frissítések keresése
Name[ja_JP]=DB2 更新のチェック
Name[ro_RO]=Căutare actualizări DB2
Name[bg_BG]=Проверка за DB2 обновления
Name[pt_PT]=Check for DB2 Updates
Name[ar_AA]=Check for DB2 Updates
Name[ru_RU]=Проверка обновлений DB2
Name[ko_KR]=DB2 갱신 확인
Name[zh_CN]=检查 DB2 更新
Name[fr_FR]=Vérification des mises à jour DB2
Name[de_DE]=Prüfen auf DB2-Aktualisierungen
Name[pl_PL]=Sprawdź dostępność aktualizacji DB2
Name[da_DK]=Undersøg, om der er DB2-opdateringer
