[Desktop Entry]
Name=Command Line Processor
Type=Application
Exec=/opt/ibm/db2/V11.5/bin/db2desktop db2
URL=
Icon=/database/config/db2inst1/.local/share/icons/db2.xpm
Version=1.0
Terminal=true
NoDisplay=false
Hidden=false
MimeType=
Categories=DB2;
StartupNotify=false
ReadOnly=false
Name[el_GR]=Command Line Processor
Name[it_IT]=Command Line Processor
Name[es_ES]=Procesador de línea de mandatos
Name[sv_SE]=Kommandotolk
Name[cs_CZ]=Příkazový procesor (CLP)
Name[nl_NL]=Opdrachtregelinterface
Name[sk_SK]=Command Line Processor
Name[hr_HR]=Procesor reda za naredbe
Name[zh_TW]=指令行處理器
Name[tr_TR]=Komut Satırı İşlemcisi
Name[fi_FI]=Komentorivisuoritin
Name[no_NO]=Kommandolinjebehandler
Name[en_US]=Command Line Processor
Name[sl_SI]=Procesor ukazne vrstice
Name[pt_BR]=ajuda de linha de comandos
Name[hu_HU]=Command Line Processor
Name[ja_JP]=コマンド行プロセッサー
Name[ro_RO]=Procesor linie de comandă
Name[bg_BG]=Процесор за обработка на команди
Name[pt_PT]=Command Line Processor
Name[ar_AA]=Command Line Processor
Name[ru_RU]=Процессор командной строки
Name[ko_KR]=명령행 처리기
Name[zh_CN]=命令行处理器
Name[fr_FR]=Interpréteur de commandes
Name[de_DE]=Befehlszeilenprozessor
Name[pl_PL]=Procesor wiersza komend
Name[da_DK]=DB2-kommandolinje
