[Desktop Entry]
Name=First Steps
Type=Application
Exec=/opt/ibm/db2/V11.5/bin/db2desktop db2fs
URL=
Icon=/database/config/db2inst1/.local/share/icons/db2fs.xpm
Version=1.0
Terminal=false
NoDisplay=false
Hidden=false
MimeType=
Categories=DB2;
StartupNotify=false
ReadOnly=false
Name[el_GR]=First Steps
Name[it_IT]=Primi passi
Name[es_ES]=Primeros pasos
Name[sv_SE]=Första gången i DB2
Name[cs_CZ]=Začínáme s produktem DB2
Name[nl_NL]=Wegwijzer
Name[sk_SK]=Prvé kroky
Name[hr_HR]=Prvi koraci
Name[zh_TW]=首要步驟
Name[tr_TR]=First Steps
Name[fi_FI]=Alkutoimet
Name[no_NO]=Første trinn
Name[en_US]=First Steps
Name[sl_SI]=Prvi koraki
Name[pt_BR]=Primeiros Passos
Name[hu_HU]=Első lépések
Name[ja_JP]=ファースト・ステップ
Name[ro_RO]=Primii paşi
Name[bg_BG]=Първи стъпки
Name[pt_PT]=First Steps
Name[ar_AA]=First Steps
Name[ru_RU]=Первые шаги
Name[ko_KR]=첫 단계
Name[zh_CN]=第一步
Name[fr_FR]=Premiers pas
Name[de_DE]=Erste Schritte
Name[pl_PL]=Pierwsze kroki
Name[da_DK]=Første trin
